<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new item</title>
</head>
<body>
    <form method="post" action="/practice">
        <input placeholder="fruitname" name="fruit"/> <br/><br/>
        <textarea placeholder="write the color"  name="color"></textarea>
         <button>submit</button>
    </form>
</body>
</html>